DirectoryIndex index.php
Options -Indexes
Options +FollowSymLinks
RewriteEngine On

#Adding Rewrite Rules
RewriteRule ^login$ login.php
RewriteRule ^login/$ login.php
RewriteRule ^checkRooms$ checkRooms.php
RewriteRule ^checkRooms/$ checkRooms.php
RewriteRule ^bookRoom bookRoom.php
RewriteRule ^bookRoom/$ bookRoom.php
